<div class="container">
  <div class="content">
    <div  class="popup_sec" id="pop_forgt" *ngIf="isSubmitted" >
      <div class="clos_btn"><img src="../../../assets/images/clos.png"  alt="" id="clos_pop"/></div>
      <div class="pop_hdr">A mail has been send to your e-mail Id for Reset Password Link</div>
      <div class="man_contnt">
      <span>Please Check Your Mail Box!</span>
      <input type="submit" value="Ok" (click)="closePopUp()">
      </div>
      </div>
    <div class="content_rgt">
    <div class="register_sec">
    <h1>Forgot Password</h1>
    <form [formGroup]="form" (submit)="onForgetPassword()" >
      <ul>
        <li>
          <span>Enter E-mail ID</span>
          <input
            type="text"
            placeholder="User@gmail.com"
            formControlName="email"></li>
            <div
              class="error"
              *ngIf="form.get('email').invalid && form.get('email').touched && !showValidError" >Enter Valid Email</div>
            <div
              class="error"
              *ngIf="showValidError"
            >
            Enter Valid Email
            </div
            >
        <li><input type="submit" value="Submit"></li>
        </ul>
    </form>
    </div>
    </div>
    <div class="content_lft">
    <h1>Welcome from PPL!</h1>
    <h4>every solution at one place </h4>
    <p class="discrptn"></p>
    <img src="../../../assets/images/logo1.jpg"  alt=""/> </div>
  </div>
</div>
<div class="clear"></div>
