<div class="container">
  <div class="content">
    <div class="content_rgt">
    <div class="register_sec">
    <h1>Reset Password</h1>
    <form
      [formGroup]="form"
      (submit)="onResetPassword()" >
      <ul>
        <li> <span>Enter New Password</span>
          <input type="password" placeholder="Enter your new password" formControlName="password"></li>
        <li>
          <div class="error" *ngIf="form.get('password').invalid && form.get('password').touched" >
          </div>
          <span>Confirm Password</span>
          <input type="password" placeholder="Enter your password again" formControlName="confirmPassword">
            <div
            class="error"
            *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched" >
            Password not Mateched
          </div>
          </li>
        <li><input
          type="submit"
          value="Submit"
          [disabled]="this.form.invalid"></li>
        </ul>
    </form
    >

    </div>

    </div>
    <div class="content_lft">
    <h1>Welcome from GetSolution!</h1>
    <h4>every solution at one place</h4>
    <p class="discrptn"></p>
    <img src="../../../assets/images/logo1.jpg"  alt=""/> </div>
  </div>
</div>
<div class="clear"></div>
