
<div class="container">
    <div class="content">
      <form [formGroup]="form" (submit)="changeSubmit()">
        <div class="content_rgt">
          <div class="register_sec">
          <h1>Change Password</h1>
          <ul>
            <li><span>Enter your Email</span>
        <input type="text" placeholder="Enter your email" formControlName="email"></li>
              <!-- <div
              class="error"
              *ngIf="form.get('email').invalid && form.get('email').touched && !showValidError" >Enter Valid Email</div>
            <div
              class="error"
              *ngIf="showValidError"
            >   -->
          <li><span>Enter old Password</span><input 
            type="password" 
            placeholder="Enter old password"
            formControlName="oldPassword"
            ></li>
            <!-- <div
            class="error"
            *ngIf="form.get('oldPassword').invalid && form.get('oldPassword').touched && !showValidError" >this field is mandatory</div>
          <div
            class="error"
            *ngIf="showValidError"
          >   -->
          <li><span>Enter new password</span><input 
            type="password"
            placeholder="Enter new password"
            formControlName="newPassword"></li>
          <li><input type="submit" value="Submit"></li>
          </ul>
          </div>
          </div>
      </form>
      
      <div class="content_lft">
      <h1>Welcome from PPL!</h1>
      <p class="discrptn">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
      <img src="../../../assets/images/img_9.png"  alt="img"/> </div>
    </div>
  </div>
  